ul {
    float:left;
    position:relative;
    left:50%;
 }
 
.Point li {
   position:relative;
   left:-50%;
   list-style-type: none;
    background-color: #313742;
   margin: 0 0 10px 0;
   padding: 10px 80px;
 }
.Point {
    text-align: center;
}